@import 'globals.scss';
@import 'button.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.landing-container {
    height: 100vh;
    margin: 2rem;
    position: relative;
.image-container {
        width: 100%;
        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            border-radius: 1rem;
        }
    }

    .landing-content-container {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        padding: 1rem;

        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

        .text-container {
            text-align: left;
            h1 {
                font-family: ClashDisplay-Medium, sans-serif;
                font-size: 2rem;
                color: $primary-light;
                line-height: 1.8rem;
            }
            p {
                width: 100%;
                margin-top: 0.8rem;
                font-family: "Ubuntu", monospace;
                color: $primary-light;
                font-size: 1rem;
                line-height: 1.2rem;
            }
        }

        .btn-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;

            .social-media-btn-container{
                display: flex;
                gap: 0.8rem;

                .social-icon-container{
                    background-color: $secondary-beige;
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        cursor: pointer;
                        transform: translateY(-0.1rem);
                    }

                    .social-icon{
                        width: 1.5rem;
                    }
                }
            }
        }
    }

    .scroll-animation-container {
        display: none;
        @media screen and (min-width: 50em) {
            display: block;
        }
        .mouse {
            width: 1.6rem;
            height: 2.81rem;
            border: 1px solid $primary-light;
            border-radius: 0.8rem;

            position: absolute;
            left: 50%;
            bottom: 4rem;
            transform: translate(-50%, 0);

            &::before {
                content: "";
                display: block;
                width: 0.4rem;
                height: 0.4rem;
                background-color: $primary-light;
                border-radius: 50%;
                margin: 0.4rem auto;
                opacity: 1;
                animation: wheel 2s infinite;
            }

            @keyframes wheel {
                0% {
                    opacity: 1;
                    transform: translateY(0);
                }

                100% {
                    opacity: 0;
                    transform: translateY(1.5rem);
                }
            }
        }
    }
}