@import 'globals.scss';

.loading-screen{
    position: absolute;
    top:50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    background: $secondary-beige;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    transform: translate(-50%,-50%);
    z-index: 999999999999999999;

    .loading-spinner{
        width: 2.5rem;
        height: 2.5rem;
        border: 0.3rem solid darkgrey;
        border-top: 0.3rem solid $secondary-green;
        border-radius: 50%;
        animation: spin 1.5s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}