@import 'globals.scss';

.modal-scrollable-wrapper-container{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    // BLACK BACKGROUND
    &::before{
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.685);
        height: 100vh;
        width: 100%;
        z-index: -1;
    }

    .modal-container{
        position: absolute;
        min-height: 100%;
        opacity: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        will-change: padding;
        padding: 0 .9375rem;
        overflow-y: scroll;
        overflow-x: hidden;
        overscroll-behavior: none;
        padding: 0 1.875rem;
        transition: ease-in-out 0.3s;

        .modal-inner{
            margin-top: 20rem;
            position: relative;
            transition: ease-in-out 0.3s;
            .modal-content-background{
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #f3f3e9;
                width: 100%;
                border-top-left-radius: 3rem;
                border-top-right-radius: 3rem;
                transition: ease-in-out 0.3s;
                z-index: -1;
            }
            button{
                position: absolute;
                top: 1rem;
                right: 1rem;
                opacity: 0.5;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: unset;
                padding: 1rem;

                &:hover{
                    opacity: 1;
                }
            }
            .main-modal-content{
                padding: 2rem;
                @media screen and (min-width: 60em) {
                    flex-direction: row;
                }
            
                .left-text-information-container{
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    margin-top: 10rem;
                    @media screen and (min-width: 70em) {
                        flex: 0.5;
                    }

                    .top-section{
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;

                        h2{
                            font-size: 2.5rem;
                            font-family: ClashDisplay-Bold;
                            color: $primary-dark;
                        }
                        a{ 
                            color: white;
                            border-radius: 3rem;
                        }
                    }

                    .modal-content{
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        p{
                            font-family: ClashDisplay-Regular;
                            font-size: 1.1rem;
                        }

                        .modal-text-standout{
                            font-weight: bold;
                            color: #56796C;
                        }
                    }
                }
                .right-bento-grid-container{
                    flex: 1;
                }
            }   
        }
    }
}