@import 'globals.scss';

:root {
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --circle-size: 80%;
  --blending: linear-dodge;
}

.projects-container{
    position: relative ;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @media screen and (min-width: 50em) {
        flex-direction: row;
    }

    //  Colored circles behind project cards
    .colored-circles-container{
        position: absolute;
        top: 25rem;
        right: -4rem;
        .colored-circle{
            width: 20rem;
            height: 20rem;
            border-radius: 50%;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
        }

        .blue-circle{
            position: relative;
            background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
            mix-blend-mode: var(--blending);
        }

        .red-circle{
            position: absolute;
            top: 0;
            left: 2.5rem;
            background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
            mix-blend-mode: var(--blending);
        }

        .yellow-circle{
            position: absolute;
            top: 3rem;
            left: 50%;
            transform: translateX(-50%);
            background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
            mix-blend-mode: var(--blending);

        }

    }
}

.project-card{
    // SECOND PROJECT CARD
    &:nth-child(3){
        .project-card{
            position: relative;
        }
        .project-image{
            img{
                height: 70vh;
            }
        }

        .project-info-container{
            position: absolute;
            top: 0;
            right: 0;
            text-align: right;

            .project-info{
                color: $primary-light;
            }
        }

        .project-btns{
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    background: rgba(255, 255, 255, 0.427);
    border-radius: 16px;    
    box-shadow: 0 4px 30px rgba(112, 112, 112, 0.1);
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem);
    border: 1px solid white;

    .project-image{
        img{
            width: 100%;
            height: 20rem;
            border-radius: 1rem;
            object-fit: cover;
        }
    }

    .project-info-container{
        padding: 1.5rem;
        .project-info{
            h4{
                font-family: ClashDisplay-Semibold;
                font-size: 1.2rem;
                text-transform: uppercase;
            }
            p{
                font-family: "Poppins", sans-serif;
                font-weight: 400;
                font-size: 0.9rem;
                margin-top: 0.5rem
            }
        }
    }

    .project-btns{
        padding: 1.5rem;
        display: flex;
        gap: 0.3rem;

        .project-btn-link{
            font-size: 0.9rem;
        }

        .github-link{
            background-color: transparent;
            border: 2px solid $secondary-dark;
        }

        .website-link{
            border: 2px solid $secondary-dark;
            &:hover{
                border: 2px solid $secondary-green;
            }
        }
    }
}