@import 'globals.scss';

$green:#22452B;
$bg-light: #878A81;
$bg-dark: #232A32;
$off-white: #CFC9C9;

.projects-section-container{
    margin-top: 6rem;
}

.project-card{
    position: relative;
    background-color: $bg-light;
    margin-bottom: 10rem;
    padding: 2.5rem;
    border-radius: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    @media screen and (min-width: 50em) {
        width: 50rem;
    }
    
    .project-image{
        position: absolute;
        width: 9rem;
        top: -7rem;
        left: -1rem;
        @media screen and (mx-width:20em) {
            width: 5rem;
        }

        @media  screen and (min-width: 65em) {
            width: 15rem;
            left: -4rem;
        }
    }

    .project-info-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: right;
        color: $primary-light;
        
        @media screen and (min-width: 50em) {
            width: 35rem;
        }
        .project-info{
            h4{
                font-size: clamp(1.2rem, 5vw, 2rem);
                margin-bottom: 0.7rem;
            }
            p{
                font-size: clamp(0.5rem, 3vw, 1rem);
            }
        }
    }

    .project-btns {
        margin-top: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
        a {
            color: $primary-light;
            font-size: 0.8rem;
            font-weight: bold;
            border-radius: 0.4rem;
            border: 3px solid $green;
            transition: all 0.3s ease;

            @media screen and (min-width: 50em) {
                font-size: 1.2rem;
            }
        }

        a:first-child {
            padding: 0.2rem 1rem;
            color: $green;

            &:hover {
                background-color: $green;
                color: $primary-light;
            }
        }

        a:last-child {
            background-color: $green;
            padding: 0.2rem 1rem;

            &:hover {
                background-color: transparent;
                color: $green;
            }
        }
    }
}

.project-container {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .project-card:nth-child(2) {
        background-color: $bg-dark;
        align-items: flex-start;

        .project-image {
            left: auto;
            right: -1rem;
        }

        .project-info-container {
            text-align: left;
        }

        & .project-btns:nth-child(3) {
            a:first-child {
                color: $off-white;
                border: 3px solid $off-white;

                &:hover {
                    background-color: $off-white;
                    color: $bg-dark;
                }
            }

            a:last-child {
                color: $bg-dark;
                border: 3px solid $off-white;
                background-color: $off-white;

                &:hover {
                    background-color: $bg-dark;
                    color: $off-white;
                }
            }
        }
    }
}
