@import 'globals.scss';

.text-container{
    color: $primary-dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
    h2{
        font-family: ClashDisplay-Bold;
        text-transform: uppercase;
        font-size: clamp(1.9rem,4vw, 3.5rem);
        line-height: 1.9rem;

        @media screen and (min-width: 40em){
            width: 50%;
        }
    }

    p{
        font-family: ClashDisplay-Regular;
        margin-top: 0.5rem;
        font-size: clamp(1rem, 3vw, 1.5rem);
        line-height: 1rem;
        color: rgb(134, 134, 117);
        @media screen and (min-width: 40em){
            width: 50%;
            line-height: 1.5rem;
            margin-top: 1rem;
        }
    }
}