@import 'globals.scss';

.text-container{
    color: $primary-dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
    h3{
        font-family: ClashDisplay-Bold;
        text-transform: uppercase;
        font-size: clamp(2rem,5vw, 1.8rem);
    }

    h2{
        font-size: clamp(1.2rem, 5vw, 2.5rem);
        margin-bottom: 0.5rem;
    }

    p{
        font-size: clamp(0.5rem, 3vw, 1rem);
        @media screen and (min-width: 40em){
            width: 50%;
        }
    }
}